/* Footer CSS Snippet */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: maroon;
    background-image: url(./assets/bg.png);
}

main {
    flex-grow: 1;
}

/* Footer CSS Snippet */

.clickPic {
    height: 400px;
    width: 400px;
}

.clickPic:active {
    transform: scale(.9);
}