/* Footer CSS Snippet */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: maroon;
}

main {
    flex-grow: 1;
}

/* Footer CSS Snippet */

.clickPic {
    height: 300px;
    width: 300px;
}